@import url('https://fonts.googleapis.com/css2?family=Cabin:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500&display=swap');

body {
    background-color: #80cbc4;
    font-family: 'Cabin', sans-serif;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

/* Navbar and Sidebar */
.text-shadow {
    text-shadow: 3px 3px 3px rgba(128, 203, 196, 0.5);
}

nav .brand-logo {
    font-weight: 500;
}

/* Main content */
main {
    flex: 1 0 auto;
}

.collapse-style {
    border: 2px solid #424242;
}

/* Footer */
.page-footer {
    padding: 0;
}

.footer-links {
    margin: 0 auto;
    display: inline-flex;
    font-size: 25px;
}

.footer-links a {
    margin: 0 25px;
    text-decoration: none;
    color: #ffffff;
}

.footer-links a:hover {
    color: #80cbc4;
}
