@import url('https://fonts.googleapis.com/css2?family=Cabin:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500&display=swap');

body {
    font-family: 'Cabin', sans-serif;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    background-image: url(../images/lights-bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

/* Navbar and Sidebar */
.text-shadow {
    text-shadow: 3px 3px 3px rgba(128, 203, 196, 0.5);
}

nav .brand-logo {
    font-weight: 500;
}

/* Main content */
main {
    flex: 1 0 auto;
}

.search-button {
    margin: 10px;
}

.add-form {
    display: inline;
}

.collapsible-header {
    display: flex;
    justify-content: space-between;
}

.collapse-style {
    border: 2px solid #424242;
}

.btn-small {
    margin-left: 10px;
    margin-right: 10px;
}

.genre-btn {
    margin: 10px;
}

/* Footer */
.page-footer {
    padding: 0;
}

.footer-links {
    margin: 0 auto;
    display: inline-flex;
    font-size: 25px;
}

.footer-links a {
    margin: 0 25px;
    text-decoration: none;
    color: #ffffff;
}

.footer-links a:hover {
    color: #80cbc4;
}

/* Media Queries */

@media screen and (max-width: 400px) {
    nav .brand-logo {
        font-weight: 400;
        font-size: 1.5rem;
    }
}
