{% extends "base.html" %}
{% block content %}

    <h5 class="center-align">Wondering What To Watch?</h5>    

    <div class="row">
        <div class="col s12">
            <div class="card-panel center-align grey darken-3">
                <span class="white-text">What To Watch website is a place where you 
                    can find the answer to one of the most frequently asked question,
                    especially in times like this, that is "What to watch?" Here we got you
                    covered with recommendations for every taste.  
                </span>
            </div>
        </div>
    </div>

    <h5 class="center-align grey-text text-darken-3">Top 5 Best Rated Movies:</h5>

    <ul class="collapsible popout">
        {% for movie in movies %}
            <li>
                <div class="collapsible-header white-text grey darken-3">
                    <div class="col s9">
                        <i class="fas fa-film"></i>
                        <strong>{{ movie.movie_name }}</strong> ({{ movie.year }})
                    </div>
                    <div class="col s3 hide-on-small-only">
                        <i class="far fa-grin-stars"></i>
                        <strong>{{ movie.rating }}</strong>/9
                    </div>
                </div>
                <div class="collapsible-body center-align collapse-style">
                    <p>Genre: <em>{{ movie.genre_name }}</em></p>
                    <p>Director: <em>{{ movie.director }}</em></p>
                    <p>Stars: <em>{{ movie.main_cast }}</em></p>
                    <p>Year: <em>{{ movie.year }}</em></p>
                    <p>Country: <em>{{ movie.country }}</em></p>
                    <p>Language: <em>{{ movie.language }}</em></p>
                    <p>WTW Rating: <em>{{ movie.rating }} out of 9</em></p>
                    <div class="col s12">
                        <a href="{{ url_for('edit_movie', movie_id=movie._id) }}" 
                            class="btn-small waves-effect black-text cyan lighten-4">
                            Edit
                        </a>
                        <a href="{{ url_for('delete_movie', movie_id=movie._id) }}" 
                            class="btn-small waves-effect grey darken-1">
                            Delete
                        </a>
                    </div>
                </div>
            </li>
        {% endfor %}
    </ul>

    <h5 class="center-align">WTW Ratings Meaning</h5>

    <div class="row">
        <div class="col s12">
            <div class="card-panel center-align grey darken-3 white-text">
                <ul>
                    <li><em>1 -</em> Avoid At All Cost!</li>
                    <li><em>2 -</em> Not Good.</li>
                    <li><em>3 -</em> Well, That Was A Waste.</li>
                    <li><em>4 -</em> Eh!</li>
                    <li><em>5 -</em> It's OK.</li>
                    <li><em>6 -</em> Really Good!</li>
                    <li><em>7 -</em> A Must See Movie!</li>
                    <li><em>8 -</em> Favourite Movie!</li>
                    <li><em>9 -</em> Absolute Masterpiece!</li>
                </ul>
            </div>
        </div>
    </div>

    <h5 class="center-align grey-text text-darken-3">Choose Your Favourite Genre:</h5>

    <div class="row">
        {% for genre in genres %}
        <div class="col s5 m2 center-align genre-btn">
            <div class="card-action">
                <a href="{{ url_for('get_genre_movies', genre_name=genre.genre_name) }}"
                    class="btn-small center-align grey darken-3">{{ genre.genre_name }}</a>
            </div>
        </div>
        {% endfor %}
    </div>

{% endblock %}
